{% extends "PizzaCustomerBundle::layout.html.twig" %}


{% block body %}
            
    <h1>{% trans %}view_order_show_order_id{% endtrans %} :  {{ orderId }}</h1>
    <h2>Ready : 
        {% if ready %} 
            {% trans %}view_order_show_order_is_ready{% endtrans %}
        {% else %}
            {% trans %}view_order_show_order_is_not_ready{% endtrans %}
        {% endif %}</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>{% trans %}view_order_show_name{% endtrans %}</th>
                <th>{% trans %}view_order_show_type{% endtrans %}</th>
                <th>{% trans %}view_order_show_price{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in customerorder %}
            <tr>
                <td>{{ item.name }}</td><td>{{ item.type }}</td><td>${{ item.price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">{% trans %}view_order_show_total{% endtrans %}</td>
            <td>${{ total }}</td>
        </tr>
        </tbody>
    </table>
    
{% endblock %}